.boxMain {
    display: flex;
    justify-content: space-between;
    /* Os cards internos 'boxItem' ficarão com espaços propocionais entre eles */
    width: 100%;
    display:flex;
}

.boxItem{
    width: 270px;
    height: 230px;
    background-color: #E1E1E1;
    border-radius: 8px; /* Propriedade para deixar a borda arredondada */
  }